<MudDialog>
    <DialogContent>
        <MudForm @ref="_Form" @bind-IsValid="_FormIsValid" Class="position-relative">
            <div class="text-right">
                @if (_CanEdit)
                {
                    <MudButton Variant="Variant.Filled" Color="Color.Warning" StartIcon="@Icons.Material.Filled.Add" OnClick="AddDataDetail" Class="mb-2" Size="Size.Small">Tambah Data Detail Workflow Config</MudButton>
                }
            </div>

            <div class="card card--raised">
                <div class="card-body p-0">
                    <div class="position-relative">
                        <MudDataGrid @ref="_TableDetail" T="TableRowWrapper<WorkflowConfigDetailResponse>" ServerData="GetListDataDetail"
                                     SortMode="SortMode.Single" ColumnResizeMode="ResizeMode.Column"
                                     Striped="true" Hover="true" Dense="true">
                            <Columns>
                                <PropertyColumn Property="_ => _.Data.StepNo" Title="Step No" Sortable="false" />
                                <PropertyColumn Property="_ => _.Data.StepName" Title="Step Name" />
                                <PropertyColumn Property="_ => _.Data.User.Fullname" Title="User" />
                                <PropertyColumn Property="_ => _.Data.User.Mail" Title="Mail" />
                                <PropertyColumn Property="_ => _.Data.IsReviewer" Title="Is Reviewer" />
                                <PropertyColumn Property="_ => _.Data.CanAdhoc" Title="Can Adhoc" />
                                <TemplateColumn HeaderClass="text-center" CellClass="text-center" Title="Aksi" Sortable="false">
                                    <CellTemplate>
                                        <MudMenu Dense="true" Size="Size.Small" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.MoreHoriz" EndIcon="@Icons.Material.Filled.KeyboardArrowDown" Color="Color.Primary">
                                            @if (_CanEdit)
                                            {
                                                <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" OnClick="@(_ => EditDataDetail(context.Item.Data))">Ubah</MudMenuItem>
                                                <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Filled.DeleteForever" IconColor="Color.Error" OnClick="@(_ => DeleteDataDetail(context.Item.Data.Id))">Hapus</MudMenuItem>
                                            }
                                        </MudMenu>
                                    </CellTemplate>
                                </TemplateColumn>
                            </Columns>

                            <NoRecordsContent>
                                <MudText Align="Align.Center">Data Tidak Ada!</MudText>
                            </NoRecordsContent>

                            <PagerContent>
                                <MudDataGridPager PageSizeOptions="StaticMethod.GetPageSize()" />
                            </PagerContent>
                        </MudDataGrid>

                        <MudOverlay @bind-Visible="_TableDetailIsLoading" LightBackground="true" Absolute="true">
                            <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
                        </MudOverlay>
                    </div>
                </div>
            </div>
        </MudForm>
    </DialogContent>
</MudDialog>