<section>
    <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title"></h3>
            <div class="card-toolbar">
                @if (StaticMethod.CheckPermission(PermissionEnum.ADD, Permission))
                {
                    <MudButton Variant="Variant.Filled" Size="Size.Medium" Color="Color.Info" Class="my-2" StartIcon="@Icons.Material.Filled.Add" OnClick="AddData">Tambah</MudButton>
                }
            </div>
        </div>

        <div class="card-body position-relative p-0">
            <MudDataGrid @ref="_Table" T="TableRowWrapper<RoleResponse>" ServerData="GetDataTable"
                         SortMode="SortMode.Single" ColumnResizeMode="ResizeMode.Column"
                         Striped="true" Hover="true" Dense="true">
                <Columns>
                    <PropertyColumn Property="_ => _.No" Title="No" Sortable="false" />
                    <PropertyColumn Property="_ => _.Data.Id" Title="Code" />
                    <PropertyColumn Property="_ => _.Data.Name" Title="Subject" />
                    <TemplateColumn HeaderClass="text-center" CellClass="text-center" Title="Aksi" Sortable="false">
                        <CellTemplate>
                            <MudMenu Dense="true" Size="Size.Medium" Variant="Variant.Filled" Icon="@Icons.Material.Filled.MoreHoriz" DisableElevation>
                                @if (StaticMethod.CheckPermission(PermissionEnum.EDIT, Permission))
                                {
                                    <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Filled.List" IconColor="Color.Info" OnClick="@(_ => AddPermission(context.Item.Data))">Permission</MudMenuItem>
                                    <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Filled.Edit" IconColor="Color.Info" OnClick="@(_ => EditData(context.Item.Data))">Ubah</MudMenuItem>
                                }
                                @if (StaticMethod.CheckPermission(PermissionEnum.DELETE, Permission))
                                {
                                    <MudMenuItem IconSize="Size.Small" Icon="@Icons.Material.Filled.DeleteForever" IconColor="Color.Error" OnClick="@(_ => DeleteData(context.Item.Data))">Hapus</MudMenuItem>
                                }
                            </MudMenu>
                        </CellTemplate>
                    </TemplateColumn>
                </Columns>

                <NoRecordsContent>
                    <MudText Align="Align.Center">Data Tidak Ada!</MudText>
                </NoRecordsContent>

                <PagerContent>
                    <MudDataGridPager PageSizeOptions="StaticMethod.GetPageSize()" />
                </PagerContent>
            </MudDataGrid>

            <MudOverlay @bind-Visible="_TableIsLoading" LightBackground="true" Absolute="true">
                <MudProgressCircular Color="Color.Primary" Size="Size.Medium" Indeterminate="true" />
            </MudOverlay>
        </div>
    </div>

</section>